<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/incs/normalize.css" />
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 10%;
            margin-top: 20px;
        }
        .minih {
            font-size: 20px;
            margin-bottom: 0%;
            margin-top: 0%;
        }
    </style>
</head>
<body>
{{ content }}
</body>
</html>
